
<div id="list" data-role="collapsible-set"></div>
 <a id="more" data-role="button" data-icon="arrow-d">もっと見る</a>
<input type="hidden" id="params" value="<%= @param %>">

<%= javascript_include_tag "simple/kyoto.simple.model.js" %>
<%= javascript_include_tag "simple/kyoto.simple.controller.js" %>
<%= javascript_include_tag "simple/kyoto.simple.view.js" %>
<%= javascript_include_tag "simple/kyoto.sightseeing.view.js" %>
<%= javascript_include_tag "simple/common.js" %>
